.header {
  @apply bg-gradient-to-b from-green-100 to-transparent;
}

.header-container {
  @apply relative max-w-screen-xl mx-auto px-6;
}

.header-container__logo {
  @apply absolute top-6 left-6 w-auto h-[35px];
}

.header-container__logo > img {
  @apply w-full h-full object-cover;
}

.row {
  @apply flex flex-wrap items-center pt-20 xl:pt-28;
}

.banner {
  @apply w-full lg:w-6/12;
}

.banner__badge {
  @apply text-xs uppercase font-medium bg-[#84b813] text-white px-3 py-2 rounded-3xl inline-block;
}

.banner__title {
  @apply mt-5 text-4xl sm:text-5xl capitalize font-semibold font-signika md:w-9/12;
}

.banner__paragraph {
  @apply mt-5 text-lg text-gray-500 font-rubik;
}

.banner__btn--buy {
  @apply mt-5 capitalize w-[170px] h-[40px] bg-orange-400 rounded-full font-semibold text-white shadow-sm shadow-black/40 relative 
  before:absolute before:w-full before:h-full before:inset-0 before:bg-white/20 before:scale-0 hover:before:scale-100 before:transition-all
  before:rounded-full hover:before:rounded-none;
}

.banner__btn--about {
  @apply mt-5 capitalize w-[170px] h-[40px] bg-[#84b813] rounded-full font-semibold text-white sm:ml-2 shadow-sm shadow-black/40 relative 
  before:absolute before:w-full before:h-full before:inset-0 before:bg-white/20 before:scale-0 hover:before:scale-100 before:transition-all
  before:rounded-full hover:before:rounded-none;
}

.banner-image {
  @apply hidden lg:block lg:w-6/12;
}

.banner-image > img {
  @apply w-full h-auto object-cover;
}
